.top-nav {
  margin-bottom: 10px;
}
.card-inverse {
  background-color: #333;
  border-color: #333;
}

.action-button {
  padding: 0px 5px 0px 5px!important;
}

.padding-left-10 {
  padding-left : 10px;
}
.fa-6 {
  font-size: 20em;
  display:block;
  text-align:center
}

.fa-5 {
  font-size: 14em;
  display:block;
  text-align:center
}
